html{
    scroll-behavior: smooth;
}

.loader{
    display: inline-block;
    z-index: 1;
    position: absolute;
    top: 470px;
    left: 130px;
}

.loader img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 130px;
    transform: scaleX(0.5);
    animation: spin-logo 3s 1.5s;
    opacity: 0;
}

@keyframes spin-logo {
    0% {
      transform: scaleX(0);
      opacity: 0.1;
    }
    17% {
      transform: scaleX(0.18);
    }
    24% {
      transform: scaleX(0.4);
    }
    46% {
      transform: scaleX(0.81);
    }
    85%,
    100% {
      opacity: 1;
    }
    100% {
      transform: scaleX(1);
    }
  }
  
  

body{
    display: flex;
    justify-content: center;
}

.main-container{
width: 375px;
animation: fade 6s ease-out;
}

@keyframes fade {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-logo{
    width: 85px;
}

header{
    position: relative;
    height: 82vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #ff0000cf), url(/images/barber-clipper.jpeg);
    background-size: cover;
    background-position: center;
}


.clippers{
    width: 100%;
    object-fit: cover;
    height: 375px;

}


.banner-text{
    text-align: center;
    color: #fff;
    position: absolute;
    top: 1%;
}

@font-face {
    font-family: "kaushan script";
    src: url(/Kaushan_Script/KaushanScript-Regular.ttf);
   }
 
   @font-face {
    font-family: "roboto";
    src: url(/font/Roboto/Roboto-Regular.ttf);
  }

.banner-text h1 {
    font-size: 60px;
   font-family: "kaushan script";
}


.secondary-ban p{
    font-family: "roboto";
   font-size: 15px ;
}

.banner-btn{
display: flex;
flex-direction: column;
padding-top: 11%;
gap: 5px;
position: absolute;
left: 35%;
}

.banner-btn a{
    width: 95px;
    font-family: "roboto";
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 0;
    color: #fff;
    border: 2.5px solid #fff;
    z-index: 1;
    transition: color 0.5s;
    position: relative;
}

.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover span{
    width: 100%;
}

.banner-btn a:hover{
    color: #000;
}

#feature{
    display: flex;
    flex-direction: column;
}

.title-text{
    text-align: center;
    padding-bottom: 10px;
   padding-top: 100px;
   font-family: "roboto";
   
}

.title-text p{
    margin: auto;
    font-size: 15px;
    color: red;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.title-text h1{
    font-size: 25px;
    margin-top: 20px;
}

.features{
    font-family: "roboto";
}


.features-img{
    width: 100%;
    display: flex;
    justify-content: center;
}

.features-img img{
    width: 70%;
    border-radius: 10px;
    
}

.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 400;
    color: red;
}

.features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.features-icon .fas{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: red;
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.features-text p{
    padding: 0 20px;
    text-align: initial;
}

#service{
    width: 100%;
    padding: 30px 0;
    background: #efefef;
    margin-top: 100px;
    font-family: "roboto";
}

.title-text-2{
    text-align: center;
    padding-bottom: 30px;
}

.title-text-2 p{
    margin: auto;
    font-size: 15px;
    color: red;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text-2 h1{
    font-size: 25px;
}

.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.single-service{
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}

.single-service img{
    width: 360px;
    height: 360px;
    border-radius: 7px;
    object-fit: cover;
}

.overlay{
    width: 100%;
    height: 98.9%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5),#add8e6 );
    opacity: 0;
    transition: 1s;
}

.single-service:hover .overlay{
    opacity: 1;
}

.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.service-desc p{
    font-size: 14px;
}

.single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}

#price-list{
    width: 100%;
    margin-top: 30px;
}


.price-img img{
    width: 375px;
    object-fit: cover;
}

#contact{
    background: #efefef;
    position: relative;
    padding-top: 20px;
    font-family: "roboto";
}

.cut-symbol{
    display: flex;
    justify-content: center;
    color:red;
    font-size: 20px;
}

.title-text-4{
    text-align: center;
}

.title-text-4 p{
    margin: auto;
    font-size: 15px;
    color: red;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text-4 h1{
    font-size: 25px;
}

.footer1{
    text-align: center
}

.footer1 h1{
    font-size: 25px;
}

.footer1 .fas{
    color: red;
}


.footer2{
    text-align: center
}

.footer2 h1{
    font-size: 25px;
}

.footer2 .fas{
    color: red;
}

.social-links{
    text-align: center;
    padding-bottom: 20px;
    margin-top: -20px;
    
}

.social-links .fab{
    height: 40px;
    width: 40px;
    font-size: 25px;
    line-height: 40px;
    border: 1px solid red;
    margin: 40px 5px 0;
    color: red;
    cursor: pointer;
    transition: 0.5s;
}

.social-links .fab:hover{
    background: red;
    color: #fff;
    transform: translateY(-7px);
}

@media only screen and (min-width: 1280px) {
.loader{
    top: 180px;
    left: 600px;
}

    .main-container{
    width: 100%;
}

header{
    height: 100vh;
    background-size: contain;
}

.header-logo{
    width: 65px;
}

.banner-text{
    top: 17%;
    display: flex;
    flex-direction: column;
    width:100%;
}

.banner-btn{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 30px;
    flex-direction: row;
    position: static;
}

.single-service{
    flex-basis: 30%;
    text-align: center;
    position: relative;
}

#service{
    width:100%
}

.title-text-2 h1{
    font-size: 35px;
}

.title-text-2 p{
    font-size: 20px;
}

.feature-box{
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}


.features{
    flex-basis: 50%;
}

.title-text h1 {
    font-size: 50px
}

.title-text p {
    font-size: 20px;
}

.features-img{
    width: 70%;
    flex-basis: 50%;
}


.price-img{
    display: flex;
    justify-content: center;
}

.price-img img {
   width: 70%;
}

.cut-symbol{
    font-size: 20px;
}

.title-text-4 p{
    font-size: 20px;
}
}